<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-md-4 col-md-offset-4">
	<div class="voteStyle">
	<h2 class="text-center">Vote</h2>
	  <h3 class="text-center">Vote: <%= @up_down_vote.question %> </h3>
		
		<div class="vote-results text-center"><span id="thumbs_up">Yes <%= @up_down_vote.up_vote %> </span>
				<%= link_to  " Yes",{action: "yes_vote"}, method: :post, class: "btn btn-success glyphicon glyphicon-thumbs-up"%>
			
				<span id="thumbs_down">No <%= @up_down_vote.down_vote %> </span>
			
				<%= link_to " No",{action: "no_vote"}, method: :post, class: "btn btn-danger glyphicon glyphicon-thumbs-down"%>
		</div>
	</div>
</div>
</div>
</div>







<!-- 
<a href="#" data-no-turbolink data-background-color="#990000">Paint It red</a>
<a href="#" data-no-turbolink data-background-color="#009900" data-text-color="#ff0000">Paint it green</a>
-->